#__sniff_v1_crx__
    ::-webkit-scrollbar
        width: 5px
        height: 5px
        position: absolute

    // /*滚动条里面小方块*/
    ::-webkit-scrollbar-thumb
        background: #ccc
        border-radius: 5px
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2)
        cursor: pointer

    // /*滚动条里面轨道*/
    ::-webkit-scrollbar-track
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2)
        border-radius: 3px
        background: #ededed

    .text-ct
        text-align: center
    .text-rt
        text-align: right
    .text-md
        vertical-align: middle
    .line--only
        display: inline-block
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
    @for $i from 2 to 4
        .line--#{$i}
            display: -webkit-box
            -webkit-box-orient: vertical
            -webkit-line-clamp: $i
            overflow: hidden

    .text-sub
        color: #828d9b
        transform: scale(.85)

    // 阴影
    @mixin shadow($v:0,$h:0,$b:1px,$r:0,$c:rgba(0,0,0,.15))
        box-shadow: $v $h $b $r $c

    .bt-lg-shadow
        @include shadow()

    .bt-shadow
        @include shadow($h:1px,$b:2px)

    .box-shadow
        @include shadow($b:4px,$r:1px,$c:rgba(0,0,0,.1))

    .box-lg-shadow
        @include shadow($b:6px,$c:rgba(0,0,0,.1))

    .box-dk-shadow
        @include shadow($b:3px,$r:1px,$c:rgba(0,0,0,.2))

    .rt-shadow
        @include shadow($v:1px,$b:2px)

    // 过渡动画
    .list-leave-active
        position: absolute

    .list-enter-active,.list-leave-active
        transition: all .2s

    .list-enter,.list-leave-to
        opacity: 0
        transform: scale(0)

    .list-move
        transition: all .2s
        z-index: 5

    .slide-enter,.slide-leave-to
        opacity: 0
        transform: scale(0)

    .slide-enter-active
        animation: slide-30 .7s ease-in-out

@keyframes slide-30
    0%
        opacity: 0
        transform: translateX(30px)
    100%
        opacity: 1
        transform: translateX(0px)
