#__sniff_v1_crx__
    .abs
        position: absolute

    .rel
        position: relative

    .fix
        position: fixed

    .cover
        height: 100%
        width: 100%

    .top-left
        top: 0
        left: 0

    .wrap
        @extend .cover
        @extend .top-left

    @each $type in abs,rel,fix
        .#{$type}-cover
            @extend .cover
            @extend .#{$type}
        .#{$type}-wrap
            @extend .wrap
            @extend .#{$type}
